- if social_account_signed_in?
  =render "messages/today"
  <br>
- else
  %script
    function Update() {
    $('#update').click();
    }
  %br
  <span style="color:#f9bd27;">
  %b Доброе
  </span>
  время суток!
  %br
  Пожалуйста, зарегистрируйтесь через одну из социальных сетей:
  <span style="display:none">
  = link_to "", {:controller => "main", :action => "home"}, :remote => true, :id => "update"
  </span>
