<script type="text/javascript">
    function counter(el)
    {
        var wrapper = document.createElement('DIV');
        wrapper.innerHTML = el.value;
        var len = (wrapper.textContent || wrapper.innerText).length;
        document.getElementById('count').innerHTML = 100-len;
    }

</script>

<div class = "post_form">
  <%= form_for :message do |f| %>
      Я сегодня:
      <br>
      <%= f.text_area :message, :onkeypress => "counter(this);", :onkeyup => "counter(this);", :onchange => "counter(this);", :maxlength => 100, :cols => 40, :rows => 3, :required => ""%>
      <br>
      <span id='count' style= "float:right;">100</span>
      <%= f.submit :value => "Рассказать!" %>
  <% end %>
</div>