<div class="top_alpha_block"></div>
<div class="bottom_alpha_block"></div>
<span style="font-size: 22px;">Уделите ещё несколько минут на то, чтобы прочитать эту притчу!</span>
<div class="story">
В жаркой, сухой степи колодец. Возле колодца изба, в ней живут дед с внуком.<br>
У колодца на длинной веревке ведро. Идут, едут люди – заворачивают к колодцу, пьют воду, благодарят деда.<br>
Однажды ведро оторвалось и упало в глубокий колодец. Не было у деда другого ведра. Нечем воды достать и напиться.<br>
На другой день утром подъезжает к дедовой избе мужик на телеге. Под соломой у него ведро. Проезжий посмотрел на колодец, глянул на деда с внуком, ударил кнутом лошадей и поехал дальше.<br>
– Что это за человек? – спросил внук деда.<br>
– Это не человек, – ответил дед.<br>
В полдень проезжал мимо дедовой избы другой хозяин. Он достал из–под соломы ведро, привязал к веревке, достал воды и напился сам, дал напиться деду и внуку; вылил воду в сухой песок, спрятал ведро опять в солому и поехал.<br>
– Что это за человек? – спросил внук деда.<br>
– И это еще не человек, – ответил дед.<br>
Вечером остановился у дедовой избы третий проезжий. Он достал из телеги ведро, привязал к веревке, набрал воды, напился. Поблагодарил и поехал, а ведро оставил привязанным у колодца.<br>
– А это что за человек? – спросил внук.<br>
– Обыкновенный человек, – ответил дед.<br>
</div>
<span>СПАСИБО ЗА ТО, ЧТО ВЫ - ОБЫЧНЫЙ ЧЕЛОВЕК!</span>
<br>
<%= link_to "Вернуться на главную", "/", :class => "home_link" %>
<br>
<br>