/*


*/


/* Global */


@font-face {
    font-family: micfont;
    src: url(/fonts/PFSquareSansPro-Regular.ttf)
}

/* end Global */


/* Header */

    /* Left top MIC logo */
    .miclogo {
        position: absolute;
        left: 30px;
        top: 30px;
    }

    /* Head text: "Ни дня без добрых дел!" */
    .header_text {
        font-family: micfont;
        position: absolute;
        font-size: 60px;
        top: 50px;
        right: 20px;
    }

    /* Top user panel */

        /* Panel */
        .user_panel {
            font-family: micfont;
            float: right;
            width: 100%;
        }

        /* Logout button */
        .logout_button {
            float: right;
            margin-left: 10px;
            margin-right: 10px;
            border-bottom: 1px solid #F9BD27;
            border-radius: 5px;
        }

        /* User panel text: "Здравствуйте, " */
        .user_name {
            text-align: right;
        }

        /* Username on the top user panel */
        .user_name a {
            color: #F9BD27;
            text-decoration: none;
        }

    /* end Top user panel */

/* end Header */


/* Main for all pages */

    /* Main div in the center */
    .content {
        font-family: micfont;
        font-size: 20px;
        position: relative;
        left: 300px;
        top: 150px;
    }

    /* Links in the Main div */
    body a {
        color: black;
        text-decoration: none;
    }

    /* Posts counters */

        /* Counter div */
        .counters {
            position:absolute;
            top: 200px;
            font-family: "micfont";
        }

        /* Digits in counters */
        .counter_number {
            font-family: "micfont";
            font-size: 30px;
        }

    /* end Posts counters */

    /* Footer */
    footer {
        position:absolute;
        bottom: 0%;
        width: 99%;
        font-family: "micfont";
        font-size: 14px;
    }

        /* Footer links */
        footer a {
            float:right;
            color: #F9BD27;
        }
    /* end Footer */

/* end */

/* Main controller */

    /* Home action */

        /* Social icons to post */

        .social_post {
            -webkit-transition: all 0.6s ease;
            -moz-transition:    all 0.6s ease;
            -o-transition:      all 0.6s ease;
            opacity: 0;
        }

        /* Post button "А что сделал ты?" (link_tag) */
        .post_button {
            color: black;
            background-color:white;
            padding:7px;
            position:absolute;
            font-family: 'micfont';
            font-size:35px;
            text-decoration:none;
            border: solid 6px #f9bd27;
            border-radius: 25px;
            border-bottom-color:#eba800;
            border-right-color:#eba800;
        }

        /* Active post button (overloading) */
        .post_button:active {
            border: solid 6px #eba800;
            border-bottom-color:#f9bd27;
            border-right-color:#f9bd27;
        }

        /* List item link to the user */   /* CHECK FOR NECESSARY */
        .today_list_item a {
            color: #F9BD27;
        }

    /* end Home action */

/* end */

/* Message controller */

    /* Create action */

        /* New post form */

        .post_form {
            width:500px;
        }

            /* Message text area */
            .post_form textarea {
                text-indent: 3px;
                border-radius:10px;
                background-color: white;
                border: 3px solid #f9bd27;
                border-color: #f9bd27;
                height: 50px;
                width: 500px;
                resize: none;
            }

            /* Message text area highlighting on focus */
            .post_form textarea:focus {
                outline:none;
                border-radius:10 px;
                background-color: white;
                border: 3px solid #f9bd27;
                border-color: #f9bd27;
            }

            /* Submit button */
            .post_form input[type="submit"] {
                border-radius:10px;
                background-color: #f9bd27;
                border-color: #f9bd27;
            }

        /* end New post form */

    /* end Create action */


    /* Thanks action */

    /* Link to home: "Вернуться на главную" */
    .home_link {
        color: #F9BD27;
    }

    /* end Thanks action */

/* end */

/* Users controller */

    /* Show action */

        /* User name in the center */

        .name_line {
            font-size: 35px;
            font-family: "micfont";
        }

        /* Date of posts */
        .date {
            color: #AAA;
            font-size: 32px;
        }


/* end Show action */

/* end */

