<div class="story">
  Пожалуйста, выйдите из системы, и зайдите с помощью вашей учётной записи на <%= params[:provider] %>.
<br>
<%= link_to "Выход", destroy_social_user_session_path, :method => :delete, :style => "color:#F9BD27;" %>
</div>