=render "layouts/header"

#main
  #user_info
    #ava
      <img src="#{ @user.avatar }">
    #social_panel
      =raw social_panel
    #name_line
      = @user.name
  #posts
    =raw user_messages
<br>