#user_info
  #ava
    =image_tag @user.avatar, :id => "ava_img"
  #user
    #name_line
      = @user.name
    #social_panel
      =raw social_panel
#posts
  =render "users/user_messages"
%script
  window.onload = function(){  
  $(posts).offset(function(i,val){
  return {top:$(ava_img).height()+$(ava_img).offset().top, left:val.left};
  });};
<br>
