-if flash[:notice]
  %span.label.label-success
    =flash[:notice]
.row
  .span2
    =image_tag @user.avatar || "anonim.jpg", class: :avatar
  .span6
    .row
      %h1
        %p.text-orange
          =@user.name
    .row
      .social-panel
        -providers.each do |provider|
          -if @user.has_account_in provider
            %a{href: @user.accounts.find_by_provider(provider).url}
              =image_tag "#{provider}-icon.png"
          -else
            -if @user == current_user
              %a{href: "/auth/#{provider}"}
                //TODO: routes
                =image_tag "#{provider}-icon-gray.png"
.row.goods
  .span8
    -@user.goods.group_by{|good| good.created_at.to_date}.each_pair do |date, goods|
      %p
        %span.date
          -if date == Date.today
            =t("today")
          -else
            =l(date)
      -goods.each do |good|
        %p{class: "#{"gray" unless good.checked?}"}
          \-
          =good.text
          -if @user == current_user
            =link_to(good_path(good.id), method: :delete) do
              x
