.row
  =render "form"
%br
.row
  .span8.goods
    -Good.all.group_by{|good| good.created_at.to_date}.each_pair do |date, goods|
      %p
        %span.date
          =l(date)
      -goods.each do |good|
        %p
          %span.orange
            %a{href: user_path(good.user.id)}
              =good.user.name
          =good.text