.row.form
  =render 'form'
.row
  .span8.goods
    %p
    -Good.checked_with_date.each_pair do |date, goods|
      %p
        %span.date
          -if date == Date.today
            =t('today')
          -else
            =l(date)
      -goods.each do |good|
        %p.good
          %span.orange
            %a{href: user_path(good.user.id)}
              =good.user.name
          =good.text
      %br