.row.form
  =render "form"
.row
  .span8.goods
    %p
    -Good.find_all_by_checked(true).group_by{|good| good.created_at.to_date}.each_pair do |date, goods|
      %p
        %span.date
          -if date == Date.today
            =t("today")
          -else
            =l(date)
      -goods.each do |good|
        %p
          %span.orange
            %a{href: user_path(good.user.id)}
              =good.user.name
          =good.text