/*
 *= require_self
 *= require_tree .
*/


/* Global */

@font-face {
    font-family: micfont;
    src: url(/fonts/PFSquareSansPro-Regular.ttf)
}

/* end Global */


/* Header */

    /* Left top MIC logo */
    .miclogo {
        position: absolute;
        left: 80px;
        top: 80px;
    }

    /* Head text: "Ни дня без добрых дел!" */
    .header_text {
        font-family: micfont;
        position: absolute;
        font-size: 60px;
        top: 60px;
        left: 315px;
    }

    /* Top user panel */

        /* Panel */
        .user_panel {
            font-family: micfont;
            float: right;
            width: 100%;
        }

        /* Logout button */
        .logout_button {
            float: right;
            margin-left: 10px;
            margin-right: 10px;
            border-bottom: 1px solid #F9BD27;
            border-radius: 5px;
        }

        /* User panel text: "Здравствуйте, " */
        .user_name {
            text-align: right;
        }

        /* Username on the top user panel */
        .user_name a {
            color: #F9BD27;
            text-decoration: none;
        }

    /* end Top user panel */

    .smile {
        position: absolute;
        bottom: 20px;
        right: 50px;
    }
/* end Header */


/* Main for all pages */

    /* Main div in the center */
    .content {
        font-family: micfont;
        font-size: 25px;
        position: relative;
        left: 300px;
        top: 120px;
    }

    /* Links in the Main div */
    body a {
        color: black;
        text-decoration: none;
    }

    /* Posts counters */

        /* Counter div */
        .counters {
            position:absolute;
            top: 140px;
            right: 20px;
            font-family: "micfont";
            font-size: 20px;
        }

        /* Digits in counters */
        .counter_number {
            font-family: "micfont";
            font-size: 60px;
            color: #AAA;
            text-align: center;
        }
        .counter_number a{
            color: #AAA;
        }

        .simple_counter {
            display: inline-block;
            width: 120px;
        }

    /* end Posts counters */

    /* Footer */
    footer {
        position:absolute;
        bottom: 0%;
        width: 99%;
        font-family: "micfont";
        font-size: 14px;
    }

        /* Footer links */
        footer a {
            float:right;
            color: #F9BD27;
        }
    /* end Footer */

/* end */

