@font-face {
    font-family: micfont;
    src: url(/fonts/PFSquareSansPro-Regular.ttf)
}

/* Main controller */
header {
    position: fixed;
    width: 100%;
    z-index: 5;
}
    /* New post form */
.post_form {
        font-size: 25px;
        font-family: "micfont";
        width:625px;
        position: relative;
        top: 83px;
        left: 19%;
    }

/* Message text area */
.post_form textarea {
    position:absolute;
    text-indent: 3px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: white;
    border: 2px solid #f9bd27;
    border-color: #f9bd27;
    height: 50px;
    width: 76%;
    resize: none;
}

/* Message text area highlighting on focus */
.post_form textarea:focus {
    outline:none;
    border-radius:10 px;
    background-color: #EEE;
    border: 2px solid #f9bd27;
    border-color: #f9bd27;
}

/* Submit button */
.post_form input[type="submit"] {
    position: absolute;
    top:55px;
    right: 0%;
    height: 58px;;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #f9bd27;
    border-color: #f9bd27;
    color: #FFF;
    font-size: 25px;
    font-family: "micfont";
}

.post_form input[type=submit]:disabled {
    color:#aaa;
    background-color: #eee;
}

/* end New post form */
    /* Home action */

        /* Social icons to post */
        .social_post {
            -webkit-transition: all 0.6s ease;
            -moz-transition:    all 0.6s ease;
            -o-transition:      all 0.6s ease;
            opacity: 0;
        }

        /* Post button "А что сделал ты?" (link_tag) */
        .post_button {
            color: black;
            background-color:white;
            padding:7px;
            position:absolute;
            font-family: 'micfont';
            font-size:35px;
            text-decoration:none;
            border: solid 6px #f9bd27;
            border-radius: 25px;
            border-bottom-color:#eba800;
            border-right-color:#eba800;
        }

        /* Active post button (overloading) */
        .post_button:active {
            border: solid 6px #eba800;
            border-bottom-color:#f9bd27;
            border-right-color:#f9bd27;
        }

        /* List item link to the user */   /* CHECK FOR NECESSARY */
        .today_list_item {
            z-index: 0;
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }



        .today_list_item a {
            color: #F9BD27;
        }

    /* end Home action */

/* end */


/* Main div in the center */
.content {
    z-index: 1;
    font-family: micfont;
    font-size: 25px;
    position: relative;
    left: 19%;
    top: 230px;
    width:50%;
}

/* Links in the Main div */
body a {
    color: black;
    text-decoration: none;
}

/* Posts counters */

/* Counter div */
.counters {
    z-index:6;
    position: fixed;
    top: 90px;
    right: 20px;
    font-family: "micfont";
    font-size: 20px;
}

/* Digits in counters */
.counter_number {
    font-family: "micfont";
    font-size: 60px;
    color: #AAA;
    text-align: center;
}
.counter_number a{
    color: #AAA;
    border-bottom: solid 2px #F9BD27;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.simple_counter {
    display: inline-block;
    text-align: center;
    width: 120px;
}


/* end Posts counters */
.top_alpha_block {
    z-index: 1;
    position:fixed;
    top: 0%;
    height: 240px;
    width:100%;
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 90%, rgba(255,255,255,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(90%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 90%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 90%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 90%,rgba(255,255,255,0) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 90%,rgba(255,255,255,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */

}
.bottom_alpha_block {
     z-index: 50;
     position:fixed;
     top: 95%;
     height: 5%;
     width:100%;
    left: 0%;
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 80%, rgba(255,255,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(80%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 80%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 80%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 80%,rgba(255,255,255,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 80%,rgba(255,255,255,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
 }

.message_item {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#login_help {
    position: absolute;
    top:0;
    z-index: 10;
    display:none;
    border: solid 3px #f9bd27;
    background-color: rgba(255,255,255,1);
    border-radius: 25px;
    padding: 7px;
    font-size: 20px;
}

#black {
    display:none;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index: 7;
    background-color: rgba(0,0,0,0.5);
}

#count {
    position:relative;
    float:right;
    right:150px;
    font-size: 20px;
    font-weight: bold;
}

/* Footer */
footer {
    z-index:50;
    position:fixed;
    bottom: 0%;
    width: 99%;
    font-family: "micfont";
    font-size: 14px;
}

/* Footer links */
footer a {
    float:right;
    color: #F9BD27;
}
.inline a {
    float:none;
}
/* end Footer */

/* end */

.smile {
    z-index:-1;
    position: absolute;
    bottom: 20px;
    right: 50px;
}