/* Main controller */
header {
    position: fixed;
    width: 100%;
    z-index: 5;
}
    /* New post form */
.post_form {
        font-size: 25px;
        font-family: "micfont";
        width:625px;
        position: relative;
        top: 110px;
        left: 320px;

    }

/* Message text area */
.post_form textarea {
    position:absolute;
    text-indent: 3px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: white;
    border: 2px solid #f9bd27;
    border-color: #f9bd27;
    height: 50px;
    width: 76%;
    resize: none;
}

/* Message text area highlighting on focus */
.post_form textarea:focus {
    outline:none;
    border-radius:10 px;
    background-color: #EEE;
    border: 2px solid #f9bd27;
    border-color: #f9bd27;
}

/* Submit button */
.post_form input[type="submit"] {
    position: absolute;
    top:52px;
    right: 0%;
    height: 58px;;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #f9bd27;
    border-color: #f9bd27;
    color: #FFF;
    font-size: 25px;
    font-family: "micfont";
}

/* end New post form */
    /* Home action */

        /* Social icons to post */
        .social_post {
            -webkit-transition: all 0.6s ease;
            -moz-transition:    all 0.6s ease;
            -o-transition:      all 0.6s ease;
            opacity: 0;
        }

        /* Post button "А что сделал ты?" (link_tag) */
        .post_button {
            color: black;
            background-color:white;
            padding:7px;
            position:absolute;
            font-family: 'micfont';
            font-size:35px;
            text-decoration:none;
            border: solid 6px #f9bd27;
            border-radius: 25px;
            border-bottom-color:#eba800;
            border-right-color:#eba800;
        }

        /* Active post button (overloading) */
        .post_button:active {
            border: solid 6px #eba800;
            border-bottom-color:#f9bd27;
            border-right-color:#f9bd27;
        }

        /* List item link to the user */   /* CHECK FOR NECESSARY */
        .today_list_item {
            z-index: 0;
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }



        .today_list_item a {
            color: #F9BD27;
        }

    /* end Home action */

/* end */


/* Main div in the center */
.content {
    z-index: 1;
    font-family: micfont;
    font-size: 25px;
    position: relative;
    left: 320px;
    top: 250px;
    width:50%;
}

/* Links in the Main div */
body a {
    color: black;
    text-decoration: none;
}

/* Posts counters */

/* Counter div */
.counters {
    z-index:5;
    position: fixed;
    top: 140px;
    right: 20px;
    font-family: "micfont";
    font-size: 20px;
}

/* Digits in counters */
.counter_number {
    font-family: "micfont";
    font-size: 60px;
    color: #AAA;
    text-align: center;
}
.counter_number a{
    color: #AAA;
}

.simple_counter {
    display: inline-block;
    width: 120px;
}

/* end Posts counters */
.top_alpha_block {
    z-index: 1;
    position:fixed;
    top: 0%;
    height: 260px;
    width:100%;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(90%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0)));
}
.bottom_alpha_block {
     z-index: 1;
     position:fixed;
     top: 95%;
     height: 5%;
     width:100%;
     background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(80%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,1)));
 }

.message_item {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#login_help {
    position: absolute;
    top:0;
    z-index: 10;
    display:none;
    border: solid 3px #f9bd27;
    background-color: rgba(255,255,255,1);
    border-radius: 25px;
    padding: 7px;
    font-size: 20px;
}

#black {
    display:none;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index: 7;
    background-color: rgba(0,0,0,0.5);
}
