/* Message controller */

    /* Create action */

    /* end Create action */


    /* Thanks action */

    /* Link to home: "Вернуться на главную" */
    .home_link {
        color: #F9BD27;
    }

    .story {
        font-size: 17px;
        width:600px;
    }
    /* end Thanks action */

/* end */

