.modal.hide#about{tabindex: -1, role: 'dialog', 'aria-labelledby' => 'Label', 'aria-hidden' => true}
  .modal-header
    %button.close{type: 'button', 'data-dismiss' => 'modal', 'aria-hidden' => true}
      x
    %h3#Label
      =t('about_head')
  .modal-body
    %p
      TODO: about information
      =#TODO: about information