%header
  =render "layouts/user_panel" if social_account_signed_in?
  = link_to(image_tag("mic_logo.png", :alt => "ulmic.ru"), "http://ulmic.ru", :id => "miclogo")
  = link_to("НИ ДНЯ БЕЗ ДОБРЫХ ДЕЛ!", root_url, :id => "header_text", :style => @head_style)
  =render "main/post_form" if social_account_signed_in? && controller_name!="users" && action_name!="about"
  =render "layouts/counters" if social_account_signed_in?
  <div class='top_alpha_block' style=#{"height:50px" if controller_name=="users" || !social_account_signed_in?}></div>